*{
    padding:0;
    margin:0;
}
#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height: 100px;
}
img{
    border-radius: 30px;
    padding: 10px;
}
#pagination-buttons{
    margin-top: 20px;
}
.card{
    margin:10px 20px;
}